@model OPUS_Demo_5.Models.CustomerManagement.CustomerAddress

<div>
    <h4>CustomerAddress</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.TownCity)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        
    </dl>
</div>

