@model OPUS_Demo_5.ViewModels.QuoteViewModel

@{
    ViewData["Title"] = "Edit Quote";

    // Layout = "~/Views/Shared/_Layout.cshtml";

}


<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="thisCustomer.CustomerName" class="control-label"></label>

                <div class="input-group">

                    <select class="form-control" id="CustomerId" asp-items="@(new SelectList(ViewBag.ActiveCustomers, "Id", "CustomerName"))">
                        <option value="" selected disabled>-- Select Customer Name --</option>
                    </select>

                    <span class="input-group-btn">

                        @*<a style="margin-left: 5px" onclick="showInPopup('@Url.Action("AddOrEdit", "Transaction", null,Context.Request.Scheme)', 'New Transaction')" class="btn btn-success text-white"><i class="fas fa-plus"></i></a>*@
                        @*Test opening a new view first then change to modal partial*@

                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-customer" data-url="@Url.Action("Create", "Customer")">
                            New Customer
                        </button>

                        @*<a  onclick="showInPopup('@Url.Action("Create", "Customer", null,Context.Request.Scheme)', 'New Customer')" style="margin-left: 5px" class="btn btn-success text-white"><i class="fas fa-plus"></i></a>*@

                    </span>
                </div>

                <span asp-validation-for="thisCustomer.CustomerName" class="text-danger"></span>

            </div>


            <div id="mypartial"> </div>


            <div class="form-group" id="ShippingOptionsDiv" style="display:none">
                <label asp-for="ShippingOptions" class="control-label">Shipping Options</label>
                <select class="form-control" id="ShippingOptions" asp-items="Model.ShippingOptions">
                    <option value="" selected disabled>-- Select Shipping Option --</option>
                </select>
                <span asp-validation-for="ShippingOptions" class="text-danger"></span>
            </div>

            <!--Toggle visibility on selection-->
            <div class="form-group" id="CollectionAddressesDiv" style="display:none">
                <label asp-for="CollectionAddresses" class="control-label">Collection Address</label>
                <select class="form-control" id="CollectionAddresses" asp-items="Model.CollectionAddresses">
                    <option value="" selected disabled>-- Select Collection Address --</option>
                </select>
                <span asp-validation-for="CollectionAddresses" class="text-danger"></span>
            </div>

            <!--Toggle visibility on selection-->
            <div class="form-group" id="DeliveryAddressesDiv" style="display:none">
                <label asp-for="DeliveryAddresses" class="control-label">Delivery Address</label>
                <select class="form-control" id="DeliveryAddresses" asp-items="Model.DeliveryAddresses">
                </select>
                <span asp-validation-for="DeliveryAddresses" class="text-danger"></span>
            </div>

            <div class="form-group" id="ShippingDateDiv" style="display:none">
                <label id="ShippingDate" asp-for="thisQuote.RequestedDeliveryDate" class="control-label"></label>
                <input id="ShippingDateInput" asp-for="thisQuote.RequestedDeliveryDate" value="" class="form-control" />
                <span asp-validation-for="thisQuote.RequestedDeliveryDate" class="text-danger"></span>
            </div>

            <div class="form-group" id="CustomerReferenceDiv" style="display:none">
                <label asp-for="thisQuote.CustomerReference" class="control-label"></label>
                <input asp-for="thisQuote.CustomerReference" class="form-control" />
                <span asp-validation-for="thisQuote.CustomerReference" class="text-danger"></span>
            </div>

            <div class="form-group" id="PriorityDiv" style="display:none">
                <label asp-for="thisQuote.Priority" class="control-label"></label>
                <input asp-for="thisQuote.Priority" class="form-control" />
                <span asp-validation-for="thisQuote.Priority" class="text-danger"></span>
            </div>

            <div class="form-group" id="DespatchNotesDiv" style="display:none">
                <label asp-for="thisQuote.DespatchNotes" class="control-label"></label>
                <input asp-for="thisQuote.DespatchNotes" class="form-control" />
                <span asp-validation-for="thisQuote.DespatchNotes" class="text-danger"></span>
            </div>
            <div class="form-group" id="AdditionalNotesDiv" style="display:none">
                <label asp-for="thisQuote.AdditionalNotes" class="control-label"></label>
                <input asp-for="thisQuote.AdditionalNotes" class="form-control" />
                <span asp-validation-for="thisQuote.AdditionalNotes" class="text-danger"></span>
            </div>
            <div class="form-group" id="NotifySalesWhenFabricatedDiv" style="display:none">
                <div class="checkbox">
                    <label>
                        <input asp-for="thisQuote.NotifySalesWhenFabricated" /> @Html.DisplayNameFor(model => model.thisQuote.NotifySalesWhenFabricated)
                    </label>
                </div>
            </div>
            <div>
                <input class="btn btn-primary" id="AddBifold" value="Add Bi-fold" style="display:none" />
            </div>
            <div class="form-group" id="SubmitDiv" style="display:none">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@*@if (Model.thisCustomer != null && Model.thisCustomer.IsNewCustomer == true)
    {
        <script type="text/javascript">
            $(function () {
                alert("New Customer Added");
            });
        </script>
    }*@


@*Can't use @script section in partial views. Also, not using _Layout so need to specify jQuery here.*@
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>

<script>


          // This function handles a drop down selection change and passes the value id to the Quote Controller as an ajax request.
        $('#CustomerId').change(function () {
            var customerId = $('#CustomerId').find(":selected").val();
            $.ajax({
                url: '@Url.Action("ShowInvoiceAddressPartial", "Quote")',
                type: 'POST',
                data: { 'customerId': customerId },
                dataType: 'html',
                success: function (data) {
                    $("#mypartial").html(data);
                }
            });

            // Populate delivery address drop down via ajax request on customer selection.
            var deliveryAddresses = $("#DeliveryAddresses");
            deliveryAddresses.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            $.ajax({
                type: "POST",
                url: "/Customer/GetCustomerAddresses",
                data: { 'customerId': customerId },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    deliveryAddresses.empty().append('<option selected="selected" value="0">-- Select Delivery Address --</option>');
                    $.each(response, function () {
                        //deliveryAddresses.append($("<option></option>").val(this['Value']).html(this['Text']));
                        deliveryAddresses.append($("<option />").val(this['Value']).text(this['text']));
                        console.log("success");
                    });

                },
                failure: function (response) {
                    alert(response.responseText);
                    console.log("failure");
                },
                error: function (response) {
                    alert(response.responseText);
                    console.log("error");
                }
            });

            $('#ShippingOptionsDiv').show();
        });

    // Toggles the text of delivery/collection labels depending on the shipping option selection.
    $('#ShippingOptions').change(function () {
        if ($('#ShippingOptions option').filter(':selected').text() == "AWS Vehicle Delivery") {
            $('#ShippingDate').text("Delivery Date")
            $('#DeliveryAddressesDiv').show();
            $('#CollectionAddressesDiv').hide();
        } else {
            $('#ShippingDate').text("Collection Date")
            $('#DeliveryAddressesDiv').hide();
            $('#CollectionAddressesDiv').show();
        }


        //console.log($('#ShippingOptions option').filter(':selected').text())
    });

        $('#CollectionAddressesDiv').change(function () {
            $('#ShippingDateDiv').show();
        })

    $('#DeliveryAddresses').change(function () {
        $('#ShippingDateDiv').show();
    })



    $('#ShippingDateInput').on('input', function () {
        $('#CustomerReferenceDiv').show();
        $('#AddBifold').show();
    });




    //showInPopup = (url, title) => {
    //    $.ajax({
    //        type: 'GET',
    //        url: url,
    //        success: function (res) {
    //            $('#form-modal .modal-body').html(res);
    //            $('#form-modal .modal-title').html(title);
    //            $('#form-modal').modal('show');
    //            // to make popup draggable
    //            //$('.modal-dialog').draggable({
    //            //    handle: ".modal-header"
    //            //});
    //        }
    //    })
    //}


</script>
