@model OPUS_Demo_5.ViewModels.QuoteViewModel

@{
    <!--<div class="row">
        <div class="col-md-4">
            <div id="mypartial">

            </div>
        </div>
        <div class="col-md-8 pull-right">
            <div id="quoteHeaderPartial">

            </div>
        </div>-->
    @*<div class="col-md-8" id="mypartial"> </div>*@
    <!--</div>-->

    Layout = null;

    // Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="row">

    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="margin-top:15px;">

 

                <label asp-for="thisCustomer.CustomerName" class="control-label"></label>

                <div class="input-group">

                    <select asp-for="thisQuote.CustomerId" class="form-control" id="CustomerId" asp-items="@(new SelectList(ViewBag.ActiveCustomers, "Id", "CustomerName"))">
                        <option value="-1" selected disabled>-- Select Customer Name --</option>
                    </select>

                    <span class="input-group-btn">

                        @*<a style="margin-left: 5px" onclick="showInPopup('@Url.Action("AddOrEdit", "Transaction", null,Context.Request.Scheme)', 'New Transaction')" class="btn btn-success text-white"><i class="fas fa-plus"></i></a>*@
                        @*Test opening a new view first then change to modal partial*@

                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-customer" data-url="@Url.Action("Create", "Customer")">
                            New Customer
                        </button>

                        @*<a  onclick="showInPopup('@Url.Action("Create", "Customer", null,Context.Request.Scheme)', 'New Customer')" style="margin-left: 5px" class="btn btn-success text-white"><i class="fas fa-plus"></i></a>*@

                    </span>
                </div>

                <span asp-validation-for="thisCustomer.CustomerName" class="text-danger"></span>

            </div>





            <div class="form-group" id="ShippingOptionsDiv">
                <label asp-for="ShippingOptions" class="control-label">Shipping Options</label>

                <select asp-for="thisQuote.DeliveryMethod" class="form-control" id="ShippingOptions" asp-items="Model.ShippingOptions">
                    <option value="-1" selected disabled>-- Select Shipping Option --</option>
                </select>

                <span asp-validation-for="ShippingOptions" class="text-danger"></span>
            </div>


            <!--Toggle visibility on selection-->
            <div class="form-group" id="CollectionAddressesDiv" style="display:none">
                <label asp-for="CollectionAddresses" class="control-label">Collection Address</label>
                <select asp-for="thisQuote.DeliveryAddress" class="form-control" id="CollectionAddressesSelect" asp-items="Model.CollectionAddresses">
                    <option value="-1" selected disabled>-- Select Collection Address --</option>
                </select>
                <span asp-validation-for="CollectionAddresses" class="text-danger"></span>
            </div>


            <!--Toggle visibility on selection-->
            <div class="form-group" id="DeliveryAddressesDiv" style="display:none">
                <label asp-for="DeliveryAddresses" class="control-label">Delivery Address</label>
                <select asp-for="thisQuote.DeliveryAddress" class="form-control" id="DeliveryAddressesSelect" asp-items="Model.DeliveryAddresses">
                </select>
                <span asp-validation-for="DeliveryAddresses" class="text-danger"></span>
            </div>

            <div class="form-group" id="ShippingDateDiv">
                <label id="ShippingDate" asp-for="thisQuote.RequestedDeliveryDate" class="control-label"></label>
                <input id="ShippingDateInput" asp-for="thisQuote.RequestedDeliveryDate" class="form-control" />
                <span asp-validation-for="thisQuote.RequestedDeliveryDate" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-md-6" id="MasterExternalColourDiv">
                    <label asp-for="thisQuote.MasterExternalColourId" class="control-label">External Colour</label>
                    <select class="form-control" id="MasterExternalColour" asp-for="thisQuote.MasterExternalColourId" asp-items="@(new SelectList(Model.ProfileColours, "Id", "ColourName"))">
                        <option value="-1" selected disabled>-- Select External Colour --</option>
                    </select>
                </div>

                <div class="form-group col-md-6" id="MasterInternalColourDiv">
                    <label asp-for="thisQuote.MasterInternalColourId" class="control-label">Internal Colour</label>
                    <select class="form-control" id="MasterInternalColour" asp-for="thisQuote.MasterInternalColourId" asp-items="@(new SelectList(Model.ProfileColours, "Id", "ColourName"))">
                        <option value="-1" selected disabled>-- Select Internal Colour --</option>
                    </select>
                </div>
            </div>






            <div class="form-group" id="CustomerReferenceDiv">
                <label asp-for="thisQuote.CustomerReference" class="control-label"></label>
                <input asp-for="thisQuote.CustomerReference" class="form-control" />
                <span asp-validation-for="thisQuote.CustomerReference" class="text-danger"></span>
            </div>


            <div class="form-group" id="DespatchNotesDiv" style="display:none">
                <label asp-for="thisQuote.DespatchNotes" class="control-label"></label>
                @*<input asp-for="thisQuote.DespatchNotes" class="form-control" />*@
                <textarea asp-for="thisQuote.DespatchNotes" style="height:150px" class="form-control" text-wrap:normal" type="text" placeholder="Optional"></textarea>
                <span asp-validation-for="thisQuote.DespatchNotes" class="text-danger"></span>
            </div>
            <div class="form-group" id="AdditionalNotesDiv" style="display:none">
                <label asp-for="thisQuote.AdditionalNotes" class="control-label"></label>
                @*<input asp-for="thisQuote.AdditionalNotes" class="form-control" />*@
                <textarea asp-for="thisQuote.AdditionalNotes" style="height:150px" class="form-control" text-wrap:normal" type="text" placeholder="Optional"></textarea>
                <span asp-validation-for="thisQuote.AdditionalNotes" class="text-danger"></span>
            </div>


            <div class="row">
                <div class="form-group col-md-4" id="DepositAmountDiv" style="display:none">
                    <label asp-for="thisQuote.DepositAmount" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div class="input-group-text">
                                <i class="fas fa-pound-sign"></i>
                            </div>
                        </div>
                        <input asp-for="thisQuote.DepositAmount" placeholder="Optional" class="form-control" />
                    </div>

                    <span asp-validation-for="thisQuote.DepositAmount" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group" id="SubmitDiv">
                <input type="submit" value="Update Main Details" class="btn btn-success pull-right" data-url="@Url.Action("Edit", "Quote")" />
            </div>
        </form>
    </div>

    <div class="col-md-7">

        <div id="quoteHeaderPartial">

        </div>

        @*<div id="mypartial">

        </div>*@



        <div id="partial-BifoldItem1">
            <partial name="~/Views/BifoldItem/_BifoldItemsView.cshtml" model=@Model />
        </div>


    </div>

</div>





@*Can't use @script section in partial views. Also, not using _Layout so need to specify jQuery here.*@
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>

<script>


    // Screen load function to show relevant controls.
    $(function () {
        //
        // Populate invoice address for customer.
        var customerId = $('#CustomerId').find(":selected").val();
        if (customerId != "") {
             @*$.ajax({
                url: '@Url.Action("ShowInvoiceAddressPartial", "Quote")',
                type: 'POST',
                data: { 'customerId': customerId },
                dataType: 'html',
                success: function (data) {
                    $("#mypartial").html(data);
                }
             });*@

            $.ajax({
                url: '@Url.Action("RefreshCustomerHeader", "Quote")',
                type: 'POST',
                data: { 'customerId': customerId },
                dataType: 'html',
                success: function (data) {
                    $("#mypartial").html(data);
                }
            });



            $.ajax({
                url: '@Url.Action("RefreshQuoteHeader", "Quote")',
                type: 'POST',
                data: { quoteId: @Html.Raw(Json.Serialize(Model.thisQuote.Id)) },
                datatype: 'html',
                success: function (data) {
                    $("#quoteHeaderPartial").html(data);
                }
            });

     //    var serModel =  '@Html.Raw(Json.Serialize(@Model))';
     //      //console.log(serModel)
     //      $.ajax({
     //          url: '@Url.Action("RefreshQuoteHeaderInformation", "Quote")',
     //          type: "POST",
     //          @*data: { 'jsonString', @Html.Raw(Json.Serialize(@Model))},*@
     //          data: { jsonString: serModel},
     //      dataType: "html",
     //          success: function (response) {
     //          $("#mypartial").html(response);
     //      }
     //  });


             @*var customerId = $('#CustomerId').find(":selected").val();
            $.ajax({
                url: '@Url.Action("ShowInvoiceAddressPartial", "Quote")',
                type: 'POST',
                data: { 'customerId': customerId },
                dataType: 'html',
                success: function (data) {
                    $("#mypartial").html(data);
                }
            });*@

        //
        // Populate delivery addresses for customer

        var selectedDeliveryAddress = @Html.Raw(Json.Serialize(Model.thisQuote.DeliveryAddress));







            var deliveryAddresses = $("#DeliveryAddressesSelect");
        deliveryAddresses.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
        $.ajax({
            type: "POST",
            url: "/Customer/GetCustomerAddresses",
            data: { 'customerId': customerId },
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                deliveryAddresses.empty().append('<option selected="selected" value="-1">-- Select Delivery Address --</option>');
                $.each(response, function () {


                    if (this.text == selectedDeliveryAddress) {
                        deliveryAddresses.append($("<option />").val(this['Value']).text(this['text']));
                    } else {
                        deliveryAddresses.append($("<option selected=\"selected\" />").val(this['Value']).text(this['text']));
                    }
                });

            },
            failure: function (response) {
                alert(response.responseText);
                console.log("failure");
            },
            error: function (response) {
                alert(response.responseText);
                console.log("error");
            }


        });



            $('#ShippingOptionsDiv').show();

            $('#ShippingDateDiv').show();


            if ($('#ShippingOptions option').filter(':selected').text() == "AWS Vehicle Delivery") {
                $('#ShippingDate').text("Delivery Date")
                $('#DeliveryAddressesDiv').show();
                $('#DeliveryAddressSpan').show();
                $('#CollectionAddressesDiv').hide();
            } else {
                $('#ShippingDate').text("Collection Date")
                $('#DeliveryAddressesDiv').hide();
                $('#DeliveryAddressSpan').hide();
                $('#CollectionAddressesDiv').show();
            }


            $('#MasterExternalColourDiv').show();
            $('#MasterInternalColourDiv').show();

            $('#CustomerReferenceDiv').show();
            $('#DespatchNotesDiv').show();
            $('#AdditionalNotesDiv').show();
            $('#DepositAmountDiv').show();
            $('#SubmitDiv').show();


        //
        // Show fields depending on previous selection.

       // $('#ShippingOptionsDiv').show();

        //if ($('#ShippingOptions option').filter(':selected').text() == "AWS Vehicle Delivery") {
        //    $('#ShippingDate').text("Delivery Date")
        //    $('#DeliveryAddressesDiv').show();
        //    $('#CollectionAddressesDiv').hide();
        //} else {
        //    $('#ShippingDate').text("Collection Date")
        //    $('#DeliveryAddressesDiv').hide();
        //    $('#CollectionAddressesDiv').show();
        //}

        //$('#ShippingDateDiv').show();
        //$('#CustomerReferenceDiv').show();
        //$('#AddBifold').show();
        //$('#SubmitDiv').show();
        }




    });





          // This function handles a drop down selection change and passes the value id to the Quote Controller as an ajax request.
        $('#CustomerId').change(function () {
            var customerId = $('#CustomerId').find(":selected").val();
            @*$.ajax({
                url: '@Url.Action("ShowInvoiceAddressPartial", "Quote")',
                type: 'POST',
                data: { 'customerId': customerId },
                dataType: 'html',
                success: function (data) {
                    $("#mypartial").html(data);
                }
            });*@

            $.ajax({
                url: '@Url.Action("RefreshCustomerHeader", "Quote")',
                type: 'POST',
                data: { 'customerId': customerId },
                dataType: 'html',
                success: function (data) {
                    $("#mypartial").html(data);
                }
            });

            // Populate delivery address drop down via ajax request on customer selection.
            var deliveryAddresses = $("#DeliveryAddressesSelect");
            deliveryAddresses.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            $.ajax({
                type: "POST",
                url: "/Customer/GetCustomerAddresses",
                data: { 'customerId': customerId },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    deliveryAddresses.empty().append('<option selected="selected" value="-1">-- Select Delivery Address --</option>');
                    $.each(response, function () {
                        //deliveryAddresses.append($("<option></option>").val(this['Value']).html(this['Text']));
                        deliveryAddresses.append($("<option />").val(this['Value']).text(this['text']));

                    });

                },
                failure: function (response) {
                    alert(response.responseText);
                    console.log("failure");
                },
                error: function (response) {
                    alert(response.responseText);
                    console.log("error");
                }
            });

            $('#ShippingOptionsDiv').show();
        });

    // Toggles the text of delivery/collection labels depending on the shipping option selection.
    $('#ShippingOptions').change(function () {
        if ($('#ShippingOptions option').filter(':selected').text() == "AWS Vehicle Delivery") {
            $('#ShippingDate').text("Delivery Date")
            $('#DeliveryAddressesDiv').show();
            $('#CollectionAddressesDiv').hide();
            $("#CollectionAddressesSelect").val('-1');
            $("#DeliveryAddressesSelect").val('-1');
        } else {
            $('#ShippingDate').text("Collection Date")
            $('#DeliveryAddressesDiv').hide();
            $('#CollectionAddressesDiv').show();
            $("#CollectionAddressesSelect").val('-1');
            $("#DeliveryAddressesSelect").val('-1');
        }


        //console.log($('#ShippingOptions option').filter(':selected').text())
    });

        //$('#CollectionAddressesDiv').change(function () {
        //    $('#ShippingDateDiv').show();
        //})

    //$('#DeliveryAddresses').change(function () {
    //    $('#ShippingDateDiv').show();
    //})



    //$('#ShippingDateInput').on('input', function () {
    //    $('#CustomerReferenceDiv').show();
    //    $('#AddBifold').show();
    //});




</script>
