@model OPUS_Demo_5.Models.Quote

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MasterInternalColourId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MasterInternalColourId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MasterExternalColourId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MasterExternalColourId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuoteReferenceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuoteReferenceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequestedDeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequestedDeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGlassRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGlassRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCancelled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCancelled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CancelledByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CancelledByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CancelledDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CancelledDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceAmountNet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceAmountNet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceAmountVat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceAmountVat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepositAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepositAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTaxExempt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTaxExempt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DespatchSite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DespatchSite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DespatchNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DespatchNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotifySalesWhenFabricated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotifySalesWhenFabricated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
