@model OPUS_Demo_5.ViewModels.BifoldItemViewModel

@{

    Layout = null;

}

    <div class="row" style="margin: 5px 5px 15px 5px; border-radius:5px; background-color:whitesmoke;">
        <div id="BifoldItem" class="col-md-9">

            <div class="row">
                <div class="form-group col-md-2" style="margin-top:15px;">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div class="input-group-text">
                                Item
                            </div>
                        </div>
                        <input asp-for="@Model.thisBifoldItem.ItemNumber" disabled class="form-control" style="background-color:white; cursor:pointer" />
                    </div>
                </div>

                <div class="form-group col-md-3" style="margin-top:15px;">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div class="input-group-text">
                                Width
                            </div>
                        </div>
                        <input asp-for="@Model.thisBifoldItem.Width" disabled class="form-control" style="background-color:white; cursor:pointer" />
                    </div>
                </div>

                <div class="form-group col-md-3" style="margin-top:15px;">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div class="input-group-text">
                                Height
                            </div>
                        </div>
                        <input asp-for="@Model.thisBifoldItem.Height" disabled class="form-control" style="background-color:white; cursor:pointer" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div class="input-group-text">
                                External Colour
                            </div>
                        </div>
                        <input asp-for="@Model.ExternalColourName" disabled class="form-control" style="background-color:white; cursor:pointer" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div class="input-group-text">
                                External Colour
                            </div>
                        </div>
                        <input asp-for="@Model.InternalColourName" disabled class="form-control" style="background-color:white; cursor:pointer" />
                    </div>
                </div>
            </div>









            @*<h4>Item - @Model.ItemNumber</h4>
        <h4>Location - @Model.Location</h4>
        <h4>Width - @Model.Width</h4>
        <h4>Height - @Model.Height</h4>
        <h4>Outside - Colour1</h4>
        <h4>Inside - Colour2</h4>*@





        </div>
        <div class="row">
            <div id="Image" class="col-md-3" style="margin-top: 30px; margin-right: 0px;">
                <div style="height: 100px;">
                    <img src="~/images/Asset 1.png" class="img-responsive center-block" style="height:auto; width:auto; max-height:100%; max-width:100%;" />
                </div>
                <div>
                    <h4 class="text-center">OUTSIDE VIEW</h4>
                </div>
            </div>

        </div>




    </div>



