@model OPUS_Demo_5.ViewModels.BifoldItemViewModel
<!-- Modal -->

@{
    Layout = null;
}

<div class="modal fade" id="add-bifold-item" tabindex="-1" role="dialog" aria-labelledby="addBifoldItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBifoldItemLabel">Add Bifold</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*add hidden input field to form to validate model state*@
                <form id="myForm" asp-action="AddBifoldItem">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />


                    @*<div class="input-group">
            <span class="input-group-addon">
                <label>Bifold Item @Model.thisBifoldItem.ItemNumber</label>
                <input asp-for="ItemQuoteValue" class="form-control" />
            </span>

        </div>*@


                    <div id="bifoldHeaderPartial">

                    </div>
                    @*<div class="row form-group">

                        <div class="col-md-4">
                            <h3>Bifold Item @Model.thisBifoldItem.ItemNumber</h3>
                        </div>
                        <div class="col-md-8 text-right">
                           


                            <h3 id="ItemQuoteValue">£@Model.ItemQuoteValue + VAT</h3>

                        </div>

                    </div>*@

                    <div class="form-group col-md-6">
                        <label asp-for="thisBifoldItem.Width"></label>
                        <input id="width" asp-for="thisBifoldItem.Width" class="form-control" autocomplete="nay" />
                        <span asp-validation-for="thisBifoldItem.Width" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="thisBifoldItem.Height"></label>
                        <input id="height" asp-for="thisBifoldItem.Height" class="form-control" autocomplete="nay" />
                        <span asp-validation-for="thisBifoldItem.Height" class="text-danger"></span>
                    </div>

                    @Html.HiddenFor(m => m.ProfileColourOptions)
                    @Html.HiddenFor(m => m.HardwareColourOptions)

                    @*<div class="form-group col-md-6">
            <label asp-for="ProfileColourOptions" class="control-label">Outside Colour</label>
            <select asp-for="thisBifoldItem.ExternalColourId" class="form-control" asp-items="@(new SelectList(Model.ProfileColourOptions, "Id", "ColourName"))">
                <option value="" selected disabled>-- Select --</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="ProfileColourOptions" class="control-label">Inside Colour</label>
            <select asp-for="thisBifoldItem.InternalColourId" class="form-control" asp-items="@(new SelectList(Model.ProfileColourOptions, "Id", "ColourName"))">
                <option value="" selected disabled>-- Select --</option>
            </select>
        </div>*@

                    <div class="form-group col-md-4">
                        <label asp-for="DoorQuantityOptions" class="control-label">How Many Doors?</label>
                        <select asp-for="SelectedDoorQuantity" id="DoorQuantityOptions" class="form-control" asp-items="@Model.DoorQuantityOptions">
                            <option value="" selected disabled>-- Select --</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="OpeningOptions" class="control-label">Open In Or Out?</label>
                        <select asp-for="SelectedOpeningOption" class="form-control" asp-items="Model.OpeningOptions">
                            <option value="" selected disabled>-- Select --</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="SashProfileOptions" class="control-label">Sash Profile</label>
                        <select asp-for="SelectedSashProfile" class="form-control" asp-items="Model.SashProfileOptions">
                            <option value="" selected disabled>-- Select --</option>
                        </select>
                    </div>

                    @Html.HiddenFor(m => m.SelectedBifoldStyleCode, new { @id = "SelectedBifoldStyle" })

                    <!--OneDoorImages-->
                    <div class="form-group DoorImages" id="OneDoorImages" style="display:none">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="ThumbnailTL" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TL'); toggleSelectedImageClass('#ThumbnailTL');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TL.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="ThumbnailTR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TR'); toggleSelectedImageClass('#ThumbnailTR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--TwoDoorImages-->
                    <div class="form-group DoorImages" id="TwoDoorImages" style="display:none;">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailTLMTR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TLMTR'); toggleSelectedImageClass('#ThumbnailTLMTR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TLM-TR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailTLTRM" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TLTRM'); toggleSelectedImageClass('#ThumbnailTLTRM');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TL-TRM.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSLSL" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSL'); toggleSelectedImageClass('#ThumbnailSLSL');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SRSR'); toggleSelectedImageClass('#ThumbnailSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--ThreeDoorImages-->
                    <div class="form-group DoorImages" id="ThreeDoorImages" style="display:none">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailTRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TRSRSR'); toggleSelectedImageClass('#ThumbnailTRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TR-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLTL" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLTL'); toggleSelectedImageClass('#ThumbnailSLSLTL');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-TL.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailTLSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TLSRSR'); toggleSelectedImageClass('#ThumbnailTLSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TL-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLTR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLTR'); toggleSelectedImageClass('#ThumbnailSLSLTR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-TR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--FourDoorImages-->
                    <div class="form-group DoorImages" id="FourDoorImages" style="display:none">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailTLMTRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TLMTRSRSR'); toggleSelectedImageClass('#ThumbnailTLMTRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TLM-TR-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLTLTRM" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLTLTRM'); toggleSelectedImageClass('#ThumbnailSLSLTLTRM');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-TL-TRM.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailTLTRMSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TLTRMSRSR'); toggleSelectedImageClass('#ThumbnailTLTRMSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TL-TRM-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLTLMTR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLTLMTR'); toggleSelectedImageClass('#ThumbnailSLSLTLMTR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-TLM-TR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div id="ThumbnailSLSLSLSL" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLSLSL'); toggleSelectedImageClass('#ThumbnailSLSLSLSL');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-SL-SL.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSRSRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SRSRSRSR'); toggleSelectedImageClass('#ThumbnailSRSRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SR-SR-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLSRSR'); toggleSelectedImageClass('#ThumbnailSLSLSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!--FiveDoorImages-->
                    <div class="form-group DoorImages" id="FiveDoorImages" style="display:none;">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailTRSRSRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TRSRSRSRSR'); toggleSelectedImageClass('#ThumbnailTRSRSRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TR-SR-SR-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLSLSLTL" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLSLSLTL'); toggleSelectedImageClass('#ThumbnailSLSLSLSLTL');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-SL-SL-TL.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailTLSRSRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('TLSRSRSRSR'); toggleSelectedImageClass('#ThumbnailTLSRSRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/TL-SR-SR-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLSLSLTR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLSLSLTR'); toggleSelectedImageClass('#ThumbnailSLSLSLSLTR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-SL-SL-TR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLTLSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLTLSRSR'); toggleSelectedImageClass('#ThumbnailSLSLTLSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-TL-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLTRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLTRSRSR'); toggleSelectedImageClass('#ThumbnailSLSLTRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-TR-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--SixDoorImages-->
                    <div class="form-group DoorImages" id="SixDoorImages" style="display:none;">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLTLMTRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLTLMTRSRSR'); toggleSelectedImageClass('#ThumbnailSLSLTLMTRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-TLM-TR-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLTLTRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLTLTRSRSR'); toggleSelectedImageClass('#ThumbnailSLSLTLTRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-TL-TRM-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ThumbnailSLSLSLSLSLSL" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SLSLSLSLSLSL'); toggleSelectedImageClass('#ThumbnailSLSLSLSLSLSL');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SL-SL-SL-SL-SL-SL.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ThumbnailSRSRSRSRSRSR" class="thumbnail" style="cursor:pointer;">
                                    <a class="BifoldStyleImages" onclick="$('#SelectedBifoldStyle').val('SRSRSRSRSRSR'); toggleSelectedImageClass('#ThumbnailSRSRSRSRSRSR');">
                                        <!--Testing onclick event for image. Use this to register the selection and highlight the image-->
                                        <img src="~/images/BifoldThumbnails/SR-SR-SR-SR-SR-SR.png" style="height:auto; width:auto; max-height:100%; max-width:100%">
                                        <div class="caption">
                                            <p style="text-align:center;">OUTSIDE VIEW</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-12">
                        <label asp-for="HardwareColourOptions" class="control-label">Hardware Colour</label>
                        <select asp-for="thisBifoldItem.HardwareColourId" class="form-control" asp-items="@(new SelectList(Model.HardwareColourOptions, "Id", "ColourName"))">
                            <option value="" selected disabled>-- Select --</option>
                        </select>
                    </div>




                    <label asp-for="thisBifoldItem.AdditionalNotes"></label>
                    @*<input asp-for="thisBifoldItem.AdditionalNotes" class="form-control" autocomplete="nay" />*@
                    <textarea asp-for="thisBifoldItem.AdditionalNotes" style="height:150px" class="form-control" text-wrap:normal" type="text" placeholder="Optional"></textarea>
                    <span asp-validation-for="thisBifoldItem.AdditionalNotes" class="text-danger"></span>








                    <div class="checkbox">
                        <label asp-for="thisBifoldItem.IsLowThreshold">
                            <input asp-for="thisBifoldItem.IsLowThreshold" /> @Html.DisplayNameFor(model => model.thisBifoldItem.IsLowThreshold)
                        </label>
                    </div>

                    <div class="checkbox">
                        <label asp-for="thisBifoldItem.HasRamps">
                            <input asp-for="thisBifoldItem.HasRamps" /> @Html.DisplayNameFor(model => model.thisBifoldItem.HasRamps)
                        </label>
                    </div>


                    <div class="checkbox">
                        <label asp-for="thisBifoldItem.IsKitForm">
                            <input asp-for="thisBifoldItem.IsKitForm" /> @Html.DisplayNameFor(model => model.thisBifoldItem.IsKitForm)
                        </label>
                    </div>

                </form>

                <button type="button" class="btn btn-primary">Cills and Add-Ons</button>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*data-save attribute identifies the correct element to attach the "Save" to*@
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>




<script>


    // This toggles the selected thumbnail image class so that the selection is clear to the user.
    function toggleSelectedImageClass(thumbId) {
        console.log('das')
        $('.thumbnail').removeClass('thumbnail-clicked');
        $(thumbId).addClass('thumbnail-clicked');
        $('#SelectedBifoldStyle').val(thumbId);

    };
    //int width, int height, int doorCount
    $(function () {
          function RefreshHeaderValue() {

          $.ajax({
                url: '@Url.Action("CalculateItemQuote", "Quote")',
                type: 'POST',
              data: $("#myForm").serialize(),
              dataType: 'html',
              traditional: true,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
              success: function (data) {
        
                    $("#bifoldHeaderPartial").html(data);
                    $('#bifoldHeaderPartial').show();
                }
            });
        };


          @*function RefreshHeaderValue() {

              var formSer = $('#myForm').serialize;
              console.log(formSer);
          $.ajax({
                url: '@Url.Action("CalculateItemQuote", "Quote")',
                type: 'POST',
                data: formSer,
              dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    $("#bifoldHeaderPartial").html(data);
                    $('#bifoldHeaderPartial').show();
                }
            });
        };*@

        //Sends form data
         @*function RefreshHeaderValue() {
             model_data = $("#myForm").serialize();
             console.log(model_data);
            $.ajax({
                url: '@Url.Action("CalculateItemQuote", "Quote")',
                type: 'POST',
                //contentType: 'application/json',
                data: { jsonString: JSON.stringify(model_data) },
                dataType: 'json',
                success: function (e) {
                    // I know, you do not want Ajax, if you callback to page, you can refresh page here
                    $("#bifoldHeaderPartial").html(data);
                    $('#bifoldHeaderPartial').show();
                }
            });
        }*@ 



        $('#DoorQuantityOptions').on('change', function () {

            $('.DoorImages').hide();
            $('.thumbnail').removeClass('thumbnail-clicked');

            if ($('#DoorQuantityOptions option').filter(':selected').text() == "1") {
                $('#OneDoorImages').show();
            }
            if ($('#DoorQuantityOptions option').filter(':selected').text() == "2") {
                $('#TwoDoorImages').show();
            }
            if ($('#DoorQuantityOptions option').filter(':selected').text() == "3") {
                $('#ThreeDoorImages').show();
            }
            if ($('#DoorQuantityOptions option').filter(':selected').text() == "4") {
                $('#FourDoorImages').show();
            }
            if ($('#DoorQuantityOptions option').filter(':selected').text() == "5") {
                $('#FiveDoorImages').show();
            }
            if ($('#DoorQuantityOptions option').filter(':selected').text() == "6") {
                $('#SixDoorImages').show();
            }

            RefreshHeaderValue();

            //$('#ShippingOptions option').filter(':selected').text() == "AWS Vehicle Delivery"
        });



    });







</script>