@model OPUS_Demo_5.ViewModels.BifoldItemViewModel
<!-- Modal -->
<div class="modal fade" id="add-bifold-item" tabindex="-1" role="dialog" aria-labelledby="addBifoldItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBifoldItemLabel">Add Bifold</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*add hidden input field to form to validate model state*@
                <form asp-action="AddBifoldItem">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

                    <div class="form-group">
                        <h3>Bifold Item @Model.thisBifoldItem.ItemNumber</h3>

                        <div class="form-group col-md-6">
                            <label asp-for="thisBifoldItem.Width"></label>
                            <input asp-for="thisBifoldItem.Width" class="form-control" autocomplete="nay" />
                            <span asp-validation-for="thisBifoldItem.Width" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="thisBifoldItem.Height"></label>
                            <input asp-for="thisBifoldItem.Height" class="form-control" autocomplete="nay" />
                            <span asp-validation-for="thisBifoldItem.Height" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="ProfileColourOptions" class="control-label">Outside Colour</label>
                            <select asp-for="thisBifoldItem.ExternalColourId" class="form-control" asp-items="@(new SelectList(Model.ProfileColourOptions, "Id", "ColourName"))">
                                <option value="" selected disabled>-- Select --</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="ProfileColourOptions" class="control-label">Inside Colour</label>
                            <select asp-for="thisBifoldItem.InternalColourId" class="form-control" asp-items="@(new SelectList(Model.ProfileColourOptions, "Id", "ColourName"))">
                                <option value="" selected disabled>-- Select --</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="DoorQuantityOptions" class="control-label">How Many Doors?</label>
                            <select asp-for="SelectedDoorQuantity" class="form-control" asp-items="@Model.DoorQuantityOptions">
                                <option value="" selected disabled>-- Select --</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="OpeningOptions" class="control-label">Open In Or Out?</label>
                            <select asp-for="SelectedOpeningOption" class="form-control" asp-items="Model.OpeningOptions">
                                <option value="" selected disabled>-- Select --</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="SashProfileOptions" class="control-label">Sash Profile</label>
                            <select asp-for="SelectedSashProfile" class="form-control" asp-items="Model.SashProfileOptions">
                                <option value="" selected disabled>-- Select --</option>
                            </select>
                        </div>


                     
                        <div style="height: 500px">

                        </div>




                        <div class="checkbox">
                            <label asp-for="thisBifoldItem.IsMarineOrHazardousCoating">
                                <input asp-for="thisBifoldItem.IsMarineOrHazardousCoating" /> @Html.DisplayNameFor(model => model.thisBifoldItem.IsMarineOrHazardousCoating)
                            </label>
                        </div>


                        <label asp-for="HardwareColourOptions" class="control-label">Hardware Colour</label>
                        <select asp-for="thisBifoldItem.HardwareColourId" class="form-control" asp-items="@(new SelectList(Model.HardwareColourOptions, "Id", "ColourName"))">
                            <option value="" selected disabled>-- Select --</option>
                        </select>


                        <button value="">
                        </button>


                        <!--Style Selector Partial-->

                        <label asp-for="thisBifoldItem.AdditionalNotes"></label>
                        <input asp-for="thisBifoldItem.AdditionalNotes" class="form-control" autocomplete="nay" />
                        <span asp-validation-for="thisBifoldItem.AdditionalNotes" class="text-danger"></span>


                        <div class="checkbox">
                            <label asp-for="thisBifoldItem.IsLowThreshold">
                                <input asp-for="thisBifoldItem.IsLowThreshold" /> @Html.DisplayNameFor(model => model.thisBifoldItem.IsLowThreshold)
                            </label>
                        </div>

                        <div class="checkbox">
                            <label asp-for="thisBifoldItem.HasRamps">
                                <input asp-for="thisBifoldItem.HasRamps" /> @Html.DisplayNameFor(model => model.thisBifoldItem.HasRamps)
                            </label>
                        </div>


                        <div class="checkbox">
                            <label asp-for="thisBifoldItem.IsKitForm">
                                <input asp-for="thisBifoldItem.IsKitForm" /> @Html.DisplayNameFor(model => model.thisBifoldItem.IsKitForm)
                            </label>
                        </div>




                    </div>


</form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*data-save attribute identifies the correct element to attach the "Save" to*@
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>